
<section class="footer-top-area"style="background-color:darkblue">
    <div class="container">
        <div class="footer-top-container">
            <div class="row"style="background-color: darkblue">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"style="background-color: darkblue">
                    <div class="footer-top-left"style="background-color: darkblue">
                        <div class="about-us-area">
                            <h2>TIMESTONE</h2>
                            <p>Nơi mua sắm đồng hồ chính hãng với dịch vụ bảo hành đáng tin cậy luôn ân cần từng bước nâng cao dịch vụ để đem đến cho khách hàng sự trải nghiệm mua sắm tốt nhất</p>
                        </div>
                        <div class="fllow-us-area">
                            <h2>Follow us</h2>
                            <ul class="flow-us-link">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12"style="background-color: darkblue">
                    <div class="footer-top-right-2"style="background-color: darkblue">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Danh mục</h2>
                                        @Html.Action("CategoryFooter","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"style="background-color: darkblue">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Chi nhánh</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>872 Cách mạng tháng 8,Quận 3,TP.HCM</a></li>
                                        </ul>
</div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget"style="background-color: darkblue">
                                    <div class="single-f-widget">
                                        <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Hỗ trợ KH: 0385.627.387</a></li>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Email:cskh@gmail.com</a></li>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Hotline hỗ trợ: 0364.242.261</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="payment-method">
                                    <img class="img-responsive pull-right" src="~/Public/user/img/payment.png" alt="payment-method" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>